img{
  height:70px;
  margin-left:750px;
}
#bar{
  margin-top:5px;
  width:1150px;
  height:106px;
  background-color:orange;
}
div div{
  height:90px;
  margin-top:5px;
  display:inline-block;
  margin-left:5px;
  width:250px;
  border-radius:10px;
  border:3px solid black;
  text-align:center;
}
#home{
  background-color:blue;
}
#about{
  background-color:green;
}
#events{
  background-color:purple;
}
#outreach{
  background-color:yellow;
}
a:hover{
  text-decoration:none;
  color:white;
  margin-top:45px;
  font-family:Courier;
}
a{
  text-decoration:none;
  color:#1F1D58;
  font-size:50px;
  margin-top:45px;
  font-family:Courier;
  font-weight:bold;
  
}
