p{
  color:red;
  font-size:25px;
  font-family:Arial;
}
#bar{
  margin-top:5px;
  width:1000px;
  height:100px;
  background-color:orange;
}
#home{
  height:90px;
  margin-top:5px;
  display:inline-block;
  margin-left:5px;
  background-color:blue;
  width:250px;
}
#about{
  height:90px;
  margin-top:5px;
  display:inline-block;
  margin-left:5px;
  background-color:green;
  width:250px;
}
#events{
  height:90px;
  margin-top:5px;
  display:inline-block;
  margin-left:5px;
  background-color:purple;
  width:250px;
}
#outreach{
  height:90px;
  margin-top:5px;
  display:inline-block;
  margin-left:5px;
  background-color:yellow;
  width:250px;
}
